
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #c8e6c9; /* Verde suave para el fondo */
}

.dashboard-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco para el contenedor */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #2e7d32; /* Verde oscuro para los enlaces */
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #1b5e20; /* Verde más claro al pasar el ratón */
}

.main-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 15px;
  width: calc(33.33% - 30px);
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  margin-bottom: 10px;
  color: #2e7d32; /* Verde oscuro para los títulos */
}

.card p {
  font-size: 18px;
  color: #4caf50; /* Verde para los números y detalles */
  font-weight: bold;
}

body {
    font-family: 'Roboto', sans-serif;
}

.condiciones {
    color: red;
}

.flex {
    display: flex;
    flex-wrap: wrap;

}

.text-center {
    text-align: center;
}

.precio {
    font-size: 75px;
    color: #00dac7;
}

.columna {
    background: rgb(228, 228, 228);
    color: #333;
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px#d8d7d7;
    /*el ultimo valor es el degradado*/
    width: 23%;
    box-sizing: border-box;

}

.btcompra {
    background-color: salmon;
    display: block;
    padding: 10px 20px; /* Ajusta el padding según tu preferencia */
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%; /* Hace que el botón abarque todo el ancho disponible */
}

/*para cuando pase encima el cursor cambie el color a uno mas fuerte*/
.btcompra:hover {
    background: rgb(250, 93, 75);
}


/*para cuando sea menor a 1070 pixeles */
@media(max-width:1070px) {
    .columna {
        width: 45%;
        margin-bottom: 20px;
    }
}

/*para cuando sea menor a 600 pixeles */
@media(max-width:600px) {
    .columna {
        width: 100%;
        margin-bottom: 20px;
    }
}